/* Standards */
.uppercase, .all-caps { text-transform: uppercase; }
.clear {
	clear: both;
	float: none;
	display: block;
}
%clear-after {
	content: '';
	clear: both;
	float: none;
	display: block;
}
.align-middle 	{ vertical-align	: middle; }
.align-top 		{ vertical-align	: top; }
.align-bottom 	{ vertical-align	: bottom; }

.float-left 	{ float				: left; }
.float-right 	{ float				: right; }

.left 			{ text-align		: left; }
.center 		{ text-align		: center; }
.right 			{ text-align		: right; }
.bold 			{ font-weight		: $bold; }
.light 			{ font-weight		: $light; }

.hide 			{ display			: none; }
