.wrapper--hero {
    text-transform: uppercase;
    background-color: $headerColor;
    padding: 100px;
    position: relative;
    .site-title,
    .title {
        text-shadow: 2px 2px 0px darken($headerColor, 12%);
        color: darken($headerColor, 6%);
        font-size: 120px;
        font-weight: bold;
        line-height: .9em;
    }
    .subtitle {
        color: darken($headerColor, 12%);
        font-size: 40px;
        text-shadow: none;
        margin-top: 40px;
        display: block;
    }
    .go-back {
        position: absolute;
        left: 20px;
        top: 20px;
        color: white;
    }
}
.archive-list-wrapper {
    padding: 20px 0;
}
.archive-list-item {
    padding: 20px 0;
    margin: 0;
}
