.post-content {
    font-family: $serif;
    font-size: 16px;
    line-height: 1.8em;
    padding: 60px 0;
    max-width: 740px;
    margin: auto;
    h2 {
        color: #b4d6d6;
    }
    img {
        margin: 20px 0;
        max-width: 100%;
    }
}
