/* Fonts */
$sans       : 'Montserrat', sans-serif;

/* Weights */
$light      : 300;
$normal     : 400;
$bold       : 700;
/* Sizes */
$fs1        : 3em;
$fs2        : 2em;
$fs3        : 1.5em;
$fs4        : 1em;
$paraSize   : 1em;

body { font-size: 100%; }

html, body {
	color       : c('fontColor');
	font-family : $sans;
	font-weight : $normal;
	font-size	: 20px;
}
/* H Tags */
h1, .h1 {
	font-size   : $fs1;
	font-weight : $bold;
	font-family : $sans;
	line-height : 1.3em;
}
h2, .h2 {
	font-size   : $fs2;
	font-weight : $bold;
	line-height : 1.1em;
	padding-bottom  : 10px;
	@include tablet { font-size: $fs2 * .75; }
	@include mobile { font-size: $fs2 * .6; }
}
h3, .h3 {
	font-size   : $fs3;
	font-weight : $bold;
	line-height : 1.3em;
	@include tablet { font-size: $fs3 * .75; }
	@include mobile { font-size: $fs3 * .6; }
}
h4, .h4, h5, .h5, h6, .h6 {
	font-size: $fs4;
	line-height : 1.3em;
}
p {
	font-size       : $paraSize;
	font-weight     : $normal;
	margin-bottom   : 20px;
}
