/* Page Layout */
.full-wrapper {
    width: 100%;
    padding: 40px 0;
}
.content-wrapper {
    width: 100%;
    max-width: $maxwidth;
    margin: auto;
    padding: 0 20px;
}
/* Grid */
.grid,
.flex {
    @extend .content-wrapper;
    display: flex;
}
.flex-wrap {
    @extend .flex;
    flex-wrap: wrap;
}
