$colors: (
    'white': #FFFFFF,
    'black': #000000,
    'kiosk': #EC008B,
    'error': red,
    'borderColor': grey,
    'fontColor': black,
);

$pageBackground: #B4D6D6;
$headerColor: #dcecec;
$footerColor: #E3F39B;
$footerColorFont: #C0DE33;

$breakpoints: (
    maxwidth: 1024px,
    desktop: 1024px,
    tablet: 780px,
    mobile: 450px,
);
